#timeline {
    background-color: #0B346E;
    width: .5vw;
    height: 90vh;
    position: absolute;
    left: 10vw;
    top: 0;
    display: flex;
    justify-content: center;
}

#timeline_arrow {
    width: 6vw;
    rotate: 180deg;
    position: absolute;
    bottom: -5vh;
}

#timeline a {
    display: flex;
    justify-content: center;
}

#timeline a img {
    width: 2vw;
    position: absolute;
}

#timeline a p {
    position: absolute;
    left: -7vw;
    color: #0B346E;
    font-size: large;
}