#img1 {
    background-image: url(./img/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#img2 {
    background-image: url(./img/2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#img3 {
    background-image: url(./img/3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.fp-slidesNav {
    display: flex;
    justify-content: center;
}

.fp-slidesNav ul li a span {
    background: white;
}

.fp-arrow.fp-prev {
    border-color: transparent black transparent transparent;
}

.fp-arrow.fp-next {
    border-color: transparent transparent transparent black;
}


.logo_pre_small,
.logo_small {
    width: 10vw;
    margin-left: 45vw;
    position: absolute;
    bottom: 20vh;
    animation-name: rotating;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(2deg);
    }
}

#gradient {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: linear-gradient(white, #0F2540);
    transform: translateY(100vh);
    opacity: 0;
}

#logo_circle {
    width: 25vw;
    margin: 5vh 37.5vw;
    padding: 0;
}

#text {
    width: 100vw;
    color: white;
    position: absolute;
    bottom: 0;
    opacity: 0;
}

#b {
    font-size: 8vh;
}

#s {
    font-size: 5vh;
}

.fp-watermark {
    visibility: hidden;
}

#gradient nav {
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gradient nav p a {
    position: relative;
}

#nav_bg {
    height: 10vh;
    margin: 0 3vh;
}

#nav_bg+span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: x-large;
    white-space: nowrap;
    text-decoration: none;
}

#gradient nav .act a span {
    color: #0F2540;
    font-weight: bold;
}

#name {
    margin-right: auto;
}

#name a {
    color: white;
    font-size: x-large;
    white-space: nowrap;
    text-decoration: none;
}

.row {
    height: 75vh;
    margin-top: 15vh;
    display: flex;
    align-items: center;
}

.row2 {
    height: 40vh;
    display: flex;
    align-items: center;
}

.row3 {
    height: 20vh;
    margin-top: 0;
}

.row4 {
    height: 20vh;
    margin-top: 0;
}

#plane_pre {
    max-width: 90%;
    max-height: 100%;
}

#plane {
    width: 4vw;
    margin-left: 48vw;
    position: absolute;
    bottom: 5vh;
}

#plane_intro {
    font-size: x-large;
}

table {
    font-size: large;
}

thead {
    background-color: #0F2540;
    color: white;
}


#logo_pre,
#logo {
    max-height: 60vh;
}

.intro_text {
    font-size: large;
    font-weight: bold;
}

#arrow_down {
    width: 4vw;
    margin-left: 48vw;
    position: absolute;
    bottom: 5vh;
    animation-name: jump;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

#arrow_up {
    width: 4vw;
    margin-left: 48vw;
    position: absolute;
    top: 20vh;
    animation-name: jump;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#timeline {
    background-color: #0F2540;
    width: .5vw;
    height: 90vh;
    position: absolute;
    left: 10vw;
    top: 0;
    display: flex;
    justify-content: center;
    transform: translateY(-100vh);
}

#timeline_arrow {
    width: 6vw;
    rotate: 180deg;
    position: absolute;
    bottom: -5vh;
}

#timeline a {
    display: flex;
    justify-content: center;
}

#timeline a img {
    width: 2vw;
    position: absolute;
}

#t1+img {
    top: 20vh;
}

#t2+img {
    top: 30vh;
}

#t3+img {
    top: 40vh;
}

#t4+img {
    top: 50vh;
}

#timeline a p {
    position: absolute;
    left: -7vw;
    color: #0F2540;
    font-size: large;
}

#t1 {
    top: 20vh;
}

#t2 {
    top: 30vh;
}

#t3 {
    top: 40vh;
}

#t4 {
    top: 50vh;
}


.log .fp-prev {
    position: absolute;
    top: 95vh;
    left: 48vw;
    border-width: 3vh 3vh 3vh 0;
}

.log .fp-next {
    position: absolute;
    top: 95vh;
    right: 48vw;
    border-width: 3vh 0 3vh 3vh;
}

.log .title {
    position: relative;
    top: 20vh;
    font-size: x-large;
}

.log .page {
    position: relative;
    bottom: 10vh;
    font-size: x-large;
}

.gallery .row {
    height: 25vh;
    margin-top: 3vh;
}

.gallery .row:first-child {
    margin-top: 15vh;
}

.gallery .col-2 {
    background-color: #0F2540;
    width: 18vw;
    height: 25vh;
    color: white;
    font-size: large;
}

.gallery .col-2 p {
    height: 15vh;
}

.gallery .col-2 hr {
    visibility: hidden;
}


.gallery .col-2:hover hr:first-child,
.gallery .col-2:hover p {
    transform: translateY(3vh);
    visibility: visible;
    transition: transform 2s;
}

.gallery .col-2:hover hr:last-child {
    transform: translateY(-3vh);
    visibility: visible;
    transition: transform 2s;
}

.info {
    opacity: 0;
}

.info .row {
    margin: 0;
    height: 50vh;
}

.info img {
    width: 100%;
}

#slogan {
    font-size: xx-large;
    font-weight: bold;
}

#link {
    margin: 5vh 0;
}

#link a {
    color: black;
    font-size: x-large;
    text-decoration: none;
}

#link img {
    height: 10vh;
    width: 10vh;
    margin-right: 3vh;
}

#address img {
    height: 15vh;
    width: 15vh;
    margin-right: 3vh;
    transform: rotate(45deg);
}

#address a {
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

#award_title {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#award {
    font-size: x-large;
    margin-left: 20vw;
}

#award span {
    color: #0F2540;
    font-size: x-large;
    font-weight: bold;
}

#award img {
    height: 7vh;
    width: 7vh;
}

#to_be_continued {
    color: #0F2540;
    font-size: x-large;
    font-weight: bold;
    margin-top: 5vh;
}

#award_marquee img {
    height: 10vh;
    width: 10vh;
    transform: rotate(90deg);
}

#test {
    background-color: yellow;
    opacity: 0.8;
    font-size: large;
    color: red;
}